@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");


#menu {
    height: 480px;
    width: 854px;
    background-color: black;
    position: relative;
    left: 27.5%;
    margin-top: 13.5%;
    border-radius: 7px;
    display: inline-block;
}

#titulo {

    font-family: "Silkscreen";
    font-style: normal;
    font-size: 80px;
    color: white;
    margin-top: -500px;
    margin-left: 171px;
}

#botaoJogar {
    font-family: "Verdana";
    font-style: normal;
    color: white;
    text-align: center;
    margin-top: 400px;
}

#jogar {
    margin-left: 350px;
    margin-right: 350px;
    border: 3px solid white;
    border-radius: 10px;
}

#jogar:hover {
    color: #f94f6d;
    border-color: #f94f6d;
}

#campo {
    height: 480px;
    width: 854px;
    background-color: black;
    position: relative;
    left: 27.5%;
    margin-top: 13.5%;
    border-radius: 7px;
    display: none;
}

#jogador {
    height: 150px;
    width: 14px;
    background-color: white;
    left: 54px;
    top: 165px;
    position: absolute;
}

#guest {
    height: 150px;
    width: 14px;
    background-color: white;
    left: 785px;
    top: 165px;
    position: absolute;
}

#bola {
    height: 14px;
    width: 14px;
    background-color: white;
    left: 420px;
    top: 233px;
    position: absolute;
}

#linha {
    height: 480px;
    width: 2px;
    background-color: white;
    left: 426px;
    position: absolute;
}

#placarStyle {
    height: 120px;
    width: 428px;
    background-color: black;
    left: 38.75%;
    top: 7.5%;
    border-radius: 10px;
    position: absolute;
}

#placarPlayers {
    font-family: "Verdana";
    font-style: normal;
    color: white;
    text-align: center;
    word-spacing: 175px;
}

#placarResultadoPlayer {
    font-family: "Silkscreen", cursive;
    font-style: normal;
    font-size: 40px;
    color: #f94f6d;
    margin-top: -80px;
    margin-left: 47px;
}

#placarResultadoGuest {
    font-family: "Silkscreen", cursive;
    font-style: normal;
    font-size: 40px;
    color: #f94f6d;
    margin-top: -156px;
    margin-left: 327px;
}

body {
    background-color: aquamarine;
}